<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>새 질문 만들기</h1>

  <form action="/questions" method="post" th:object="${questionDto}">
    <label for="title">질문</label>
    <input type="text" id="title" th:field="*{title}">

    <label for="optionA">선택지 A</label>
    <input type="text" id="optionA" th:field="*{optionA}">

    <label for="optionB">선택지 B</label>
    <input type="text" id="optionB" th:field="*{optionB}">

    <input type="submit" value="질문 등록">
  </form>


</body>
</html>