/* 전체 선택자 : 문서 내 모든 요소를 선택, 모든 요소에 공통 스타일을 적용할 때 활용한다. */
/* * {
  color: aqua;
} */

/* 태그 선택자 : 특정 태그의 모든 요소를 선택한다. */
h2 {
  color: red;
}

/* 클래스 선택자 : 특정 클래스의 모든 요소를 선택한다. (여러 요소에 같은 클래스 사용 가능, 하나의 요소에 여러 클래스 사용 가능) */
.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.font-100 {
  font-size: 100;
}

.font-50 {
  font-size: 50;
}

/* 아이디 선택자 : 고유한 id 속성을 가진 요소 하나를 선택한다. */
#bold {
  font-weight: 900;
}

/* 속성 선택자 : 특정 속성을 가진 요소를 선택한다. */
[href] {
  font-size: 30px;
  text-decoration: none;
}

/* 특정 속성 값을 가지고 있는 요소를 선택한다. */
[href="https://www.naver.com"]
{
  color: green;
}
