/* 전체 선택자 : 문서 내 모든 요소를 선택, 모든 요소에 공통 스타일을 적용할 때 활용한다. */
/* * {
  color: aqua;
} */

/* 태그 선택자 : 특정 태그의 모든 요소를 선택한다. */
h2 {
  color: red;
}

/* 클래스 선택자 : 특정 클래스의 모든 요소를 선택한다. (여러 요소에 같은 클래스 사용 가능, 하나의 요소에 여러 클래스 사용 가능) */
.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.font-100 {
  font-size: 100px;
}

.font-50 {
  font-size: 50px;
}

/* 아이디 선택자 : 고유한 id 속성을 가진 요소 하나를 선택한다. */
#bold {
  font-weight: 900;
}

/* 속성 선택자 : 특정 속성을 가진 요소를 선택한다. */
[href] {
  font-size: 30px;
  text-decoration: none;
}

/* 특정 속성 값을 가지고 있는 요소를 선택한다. */
[href="https://www.naver.com"]
{
  color: green;
}

/* 관계 선택자 - 자식 선택자 : 특정 부모 요소의 바로 아래 자식 요소만 선택한다. */
div > p {
  font-style: italic;
}

/* 관계 선택자 : 자식 중 클래스가 child인 요소만 선택한다. */
#parent > .child {
  color: violet;
}

/* 관계 선택자 - 자손 선택자 : 특정 부모 요소의 모든 하위 요소 선택한다. */
body p {
  font-weight: 900;
}

/* 혼합 선택자 : 특정 태그의 특정 클래스인 요소를 선택한다. */
span.red {
  color: lightcoral;
}

span.green {
  color: lightgreen;
}

/* 우선 순위 */
/* 1. 인라인 스타일, 2. id 선택자, 3. class 선택자, 4. tag 선택자, - 우선 순위가 같은 경우에는 나중에 작성된 스타일의 우선순위가 높다. */
/* !important : CSS 속성을 강제로 우선 설정한다. */
div {
  font-size: 30px !important;
}

#font-100 {
  font-size: 100px;
}

.font-90 {
  font-size: 90px;
}
