.flex-container {
  display: flex;
  background-color: brown;
  height: 600px;
  width: 100vw;
}

.d-row-reverse {
  /* 행, 역방향 : 오른쪽 -> 왼쪽 */
  flex-direction: row-reverse;
}

.d-col {
  /* 열, 정방향 */
  flex-direction: column;
}

.d-col-reverse {
  /* 열, 역방향 */
  flex-direction: column-reverse;
}

/* 플렉스 아이템들의 배치(정렬) 방식 */
.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  /* 주축 방향 정렬 */
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

/* 교차축 배치(정렬) 방식 */
.align-center {
  /* 교차축 방향 중앙 정렬 */
  align-items: center;
}

/* 아이템의 줄바꿈 여부 */
.flex-wrap {
  /* 너비(높이)보다 내부 아이템의 너비(높이) 합이 크면 여러 줄 배치 */
  flex-wrap: wrap;
}

.flex-nowrap {
  /* 너비(높이)보다 내부 아이템의 너부(높이) 합이 크면 내부 아이템의 너비(높이)를 불여서 한 줄에 배치 */
  flex-wrap: nowrap;
}

.box {
  width: 100px;
  height: 200px;
  background-color: burlywood;
  margin: 20px;
  /* 플렉스 아이템은 별도의 display 설정을 하지 않아도 된다. */
  /* 부모 요소가 display : flex라면 자동으로 플렉스 아이템이 된다. */
}

.big-box {
  background-color: aqua;
  width: 500px;
  height: 300px;
  margin: 20px;
}
