* {
  margin: 0px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  background-color: black;
  height: 10vh;
  justify-content: space-between;
}

.left {
  display: flex;
  color: white;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.right {
  display: flex;
  color: white;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}
