.parent {
  background-color: cornflowerblue;
  height: 600px;
}

.child-1 {
  background-color: chocolate;
  width: 50%;
  height: 300px;
}

.child-2 {
  background-color: brown;
  width: 25%;
  height: 300px;
}

.parent-font {
  font-size: 30px;
}

.child-font-1 {
  font-size: 0.5em;
}

.child-font-2 {
  font-size: 2em;
}

.child-child-font {
  font-size: 2em;
}

.rem-font-1 {
  font-size: 0.5rem;
}

.rem-font-2 {
  font-size: 2rem;
}

/* viewport */
.full-height {
  /* 화면 높이 만큼의 100% 높이 */
  height: 100vh;
  background-color: aquamarine;
}

.parent-div {
  color: aqua;
  font-size: 10rem;
  border: 2px black solid;
}

.child-div {
  border: 4px red dashed;
}
