.padding-box {
  /* padding: 0.75rem; */
  /* 상 우 아 좌 */
  /* padding: 2rem 1rem 0rem 0.75rem; */

  padding-left: 0.75rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.border-box {
  border-radius: 2rem;
  border-color: red;
  border-style: dotted;

  /* 너비, 종류, 색 */
  /* border: 10px, dashed, red; */
}
