.padding-box {
  /* padding: 0.75rem; */
  /* 상 우 아 좌 */
  /* padding: 2rem 1rem 0rem 0.75rem; */

  padding-left: 0.75rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.border-box {
  border-radius: 2rem;
  border-color: red;
  border-style: dotted;

  /* 너비, 종류, 색 */
  /* border: 10px, dashed, red; */
}

span {
  margin: 20px;
}

.margin-1 {
  height: 100px;
  background-color: aqua;
  margin-bottom: 100px;
}

.margin-2 {
  height: 100px;
  background-color: beige;
  margin-top: 200px;
}

.margin-3 {
  height: 100px;
  background-color: cadetblue;
}

.box {
  width: 100px;
  height: 100px;
  background-color: lightpink;
  border: none;
  border-radius: 0;
  margin-bottom: 2rem;
  padding: 20px;
}

.content-box {
  /* 너비와 높이의 계산을 */
  /* 요소의 컨텐츠 (내용)으로만 계산 */
  /* padding, border는 별도로 추가되기 때문에 지정한 크기보다 커짐 */
  box-sizing: content-box;
}

.border-box {
  /* 너비와 높이의 계산을 */
  /* 요소의 컨텐츠 (내용) + 패딩 + 테두리로 계산 */
  box-sizing: border-box;
}
