.header {
  height: 200px;
  background-color: lightblue;
}

.sticky {
  height: 100px;
  width: 100%;
  background-color: lightcoral;
  position: sticky;
  top: 50px;
}

.content {
  height: 2000px;
  background-color: lightgray;
}
