.box-1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 2rem;
}

/* relative 포지션 */
.relative {
  position: relative;
}

.left-10 {
  /* 왼쪽에서 오른쪽으로 요소 이동 */
  left: 100px;

  /* 위에서 아래로 요소 이동 */
  top: 100px;
}

/* absolute 포지션 */
/* 포지션이 relative, absolute, fixed 인 조상 요소가 필요함 */
.parent-box {
  position: relative;
  height: 300px;
  background-color: lightblue;
}

.box-2 {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
}

.absolute {
  /* 부모 요소를 기준으로 이동한다. */
  /* 다른 요소에 영향을 주지 않음 */
  position: absolute;
}

.top-50 {
  top: 50px;
}

.right-50 {
  right: 50px;
}
