<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>
<div layout:fragment="content">

  <div class="card">
    <div class="card-body">
      <!-- 필드명만 입력해도 타임리프가 알아서 getter를 호출함-->
      <h5 class="card-title" th:text="${todo.title}"></h5>
      <p class="card-text" th:text="${todo.content}"></p>
      <p>
        완료여부 :
        <span th:if="${todo.completed}" class="badge bg-success">완료</span>
        <span th:unless="${todo.completed}" class="badge bg-warning">진행중</span>
      </p>
    </div>
  </div>

  <a th:href="@{/todos/{id}/edit(id = ${todo.id})}" class="btn btn-warning">edit</a>
  <a th:href="@{/todos/{id}/delete(id = ${todo.id})}" class="btn btn-danger">delete</a>

</div>