<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>
<div layout:fragment="content">
  <h1 th:text="${todo.id == null ? 'new' : 'update'}"></h1>

  <form th:action="${todo.id == null} ? '/todos' : @{/todos/{id}/update(id=${todo.id})}" method="post" th:object="${todo}">
    <label for="title" class="form-label">
      title
    </label>
    <input id="title" th:field="*{title}">
    <label for="content" class="form-label">
      content
    </label>
    <input id="content" th:field="*{content}">
    <input th:if="${todo.id != null}" type="checkbox" th:field="*{completed}" class="form-check-input">
    <input type="submit" class="btn btn-primary">
  </form>

</div>