<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>
<div layout:fragment="content">

  <form action="/todos/create">
    <label for="title" class="form-label">
      title
      <input type="text" name="title" id="title" class="form-control">
    </label>
    <label for="content" class="form-label">
      content
      <input type="text" name="content" id="content" class="form-control">
    </label>
    <input type="submit" class="btn btn-primary">
  </form>

</div>