<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>todos</title>
</head>
<body>
  <h1>할일목록</h1>

  <a href="/todos">home</a>
  <a href="/todos/active">active</a>
  <a href="/todos/completed">completed</a>
  <a href="/todos/new">new</a>

  <form action="/todos/search">
    <input type="text" name="keyword">
    <input type="submit">
  </form>
  <hr>

  <div th:each="todo : ${todos}">
      <h3 th:text="${todo.getTitle()}"></h3>
      <a th:href="@{/todos/{id}(id = ${todo.getId()})}">detail</a>
  </div>

</body>
</html>