<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>
<div layout:fragment="content">

  <form th:action="@{/todos/{id}/update(id = ${todo.id})}" method="post">
    <label for="title" class="form-label">
       title
    </label>
    <input type="text" name="title" th:value="${todo.title}" id="title">
    <label for="content" class="form-label">
      content
    </label>
    <input type="text" name="content" th:value="${todo.content}" id="content">
    <input type="checkbox" name="completed" value="true" th:checked="${todo.completed}" class="form-check-input">
    <input type="submit" class="btn btn-primary">
  </form>

</div>