<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>DETAIL</h1>

<h2 th:text="${post.title}"></h2>
<p th:text="${post.createdAt}"></p>
<p th:text="${post.content}"></p>

<a th:href="@{/posts/{id}/edit(id=${post.id})}">수정</a>
<form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
  <button type="submit" onclick="return confirm('삭제하시겠습까?')">삭제</button>
</form>
<a href="/posts">목록</a>

<hr>

<form th:action="@{/posts/{id}/comments(id=${post.id})}" method="post" th:object="${comment}">
  <input type="text" th:field="*{content}">
  <input type="submit">
</form>
</body>
</html>