<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>HOME</h1>
  <p>welcome</p>
  <a href="/info">info</a>

  <div sec:authorize="!isAuthenticated()">
    <p>로그인 하지 않음</p>
    <a href="/login">login</a>
  </div>

  <div sec:authorize="isAuthenticated()">
    <p>로그인 했음</p>
    <p sec:authentication="name"></p>
    <p sec:authentication="authorities"></p>

    <a href="/dashboard">dashboard</a>
  </div>
</body>
</html>